$blue: #5970c1;
$green: #27a764;
$red: #bf4141;
$white: #ffffff;
$darkblue: #2b1b6a;
$yellow: #dad86f;

$theme-colors: (
  "blue": $blue,
  "green": $green,
  "red": $red,
  "white": $white,
  "darkblue": $darkblue,
  "yellow": $yellow
);
